.navbar, .btn-color {
  background-color: #eba593 !important;
}

.btn-color {
  border-color: #000000 !important;
}

.navbar-brand, .btn-color, .navegacion-item {
  color: #000000 !important;
  font-weight: bold;
}
