BODY {
    font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 10 0 10 0px;
    text-align: center;
     background-color: #ffffff;
 }
 #contenedor{
     text-align: left;
     width: 600px;
     margin: auto;
 }
 #cabecera{
    visibility:hidden;
    display: none;
 }
 
 #logo{
    visibility:visible;
    display: block;
    margin-left: 20px;
 }
 
 #cuerpo{
     margin: 10 0 10 0px;
 }
 #lateral{
    visibility:hidden;
    display: none;
 }
 
 #pie{
     background-color: #cccccc;
     padding: 3 10 3 10px;
     text-align:right;
    clear: both;
 }
 
 #principal{
     background-color: #ffffff;
     padding: 0 0 0 20px;
     width: 600px;
     float: left;
 }
 
 #principal table{
    background-color: #ffffff;
     width: 600px;
    border: 2px solid #cccccc;
    font-size:10pt;
 } 