.navbar, .btn-color, .cerrar-sesion-color:active  {
  background-color: #eba593 !important;
}

.btn-color{
  border-color: #000000 !important;
}

.navbar-brand, .btn-color, .navegacion-item,.cerrar-sesion-color  {
  color: #000000 !important;
  font-weight: bold;
}
.nav-link{
  color: #000000 !important;
  font-weight: bold;
}
.negrita{
  color: #000000;
  font-weight: bold;
}
.textarea{
  resize: none;
}

.textlabel{
  text-align: end;
}

.oculto {
  display: none;
}

form label.required:after
{
    color: red;
    content: " *";
}

.help-block{
  color:red;
  margin-left: 0px;
}
