.navbar, .btn-color, .cerrar-sesion-color:active  {
  background-color: #eba593 !important;
}

.btn-color{
  border-color: #000000 !important;
}

.navbar-brand, .btn-color, .navegacion-item,.cerrar-sesion-color  {
  color: #000000 !important;
  font-weight: bold;
}
.nav-link{
  color: #000000 !important;
  font-weight: bold;
}

.textarea{
  resize: none;
}

.textlabel{
  text-align: end;
}